* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
}

#wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-container {
    display: flex;
    margin-top: 50px;
}

#input-search {
    width: 500px;
    padding: 10px 20px;
}


#btn-search {
    padding: 0 15px
}

    #products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
        margin: 0 200px;
    }

    .card {
        flex-direction: columns;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    .image {
        width: 100%;
    }

    .detail {
        padding: 0 20px;
    }

